.char-box-parent {
    float: right;
    text-align: right;
    width: 25%;
    padding-right: 2%;
    padding-top: 1%;
    margin-left: 1%;
}

.character-box {
    width: 100%;
    text-align: left;
    border: 5px solid rgb(95, 95, 95);
    padding: 1%;
    border-radius: 10px;
    display: inline-block;
}

.char-box-header {
    text-align: center;
    width: 98%;
    font-size: 32px;
    background-color: rgb(95, 95, 95);
    padding: 0.5%;
    margin: 0px auto;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.char-box-content-left {
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
    width: 45%;
    float: left;
    overflow: hidden;
}

.char-box-content-right {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 45%;
    float: right;
    overflow: clip;
}

.char-box-content-center {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    float: left;
}

.main-content {
    padding-left: 1%;
    padding-right: 1%
}

.quote-box  {
    width: 33%;
    border-left: 10px solid rgb(95, 95, 95);
    font-style: italic;
    letter-spacing: 1px;
    padding-left: 0.75%;
    border-radius: 10px;
}

.lore-box  {
    border-left: 10px solid rgb(95, 95, 95);
    font-style: italic;
    letter-spacing: 1px;
    padding-left: 0.75%;
    border-radius: 10px;
}

.tab {
    padding-top: 5px;
    border-bottom: 2px solid rgb(155,155,155);
    margin-bottom: 10px;
}

.tab button{
    overflow: hidden;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
    color: whitesmoke;
    font-size: 18px;
}

.tab button:hover {
    border: 2px solid rgb(115, 115, 115);
    background-color: rgb(115, 115, 115);
    transition: 0.1s;
}

.tab button.active {
    border: 2px solid rgb(155,155,155);
    background-color: rgb(155,155,155);
}

.tabcontent {
    display: none;
}

.gallery_content {
    width: 98%;
}

.gallery-image {
    display: inline-block;
    width: 210px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    font-weight: lighter;
}

.ability-header {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}

.ability-box {
    width: 100%;
    margin-right: 0px auto;
    border: 5px solid rgb(95, 95, 95);
    border-radius: 10px;
    padding: 1%;
    contain: layout;
}

.another-ability-div {
    float: right;
    width: 80%;
}