.main-content {
    justify-content: center;
    text-align: center;
    display: flex;
    

    margin: 0px auto;
    padding: 1%;
    width: 85%;
}

.dev-box {
    width: 23%;
    height: 40%;
    border: 5px solid rgb(95, 95, 95);
    border-radius: 10px;
    margin: 1%;
    float: left;
    overflow: auto;
    padding-left: 1%;
    padding-right: 1%;
    opacity: 80%;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
    vertical-align: top;
}

.dev-box img {
    width: 80%;
    margin-top: 2.5%;
    border: 2.5px solid rgb(52, 52, 52);
    border-radius: 10px;
    background-color: rgb(15, 15, 15);
}

.dev-box:hover {
    transform: scale(1.025) translateY(-15px);
    background-color: rgb(39, 39, 39);
    opacity: 100%;
}

.dev-box h1 {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 1.75vw;
    margin-bottom: -1.25vw;
}

.dev-box h2 {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 20px;
}

.dev-box h3 {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(176, 176, 176);
    font-weight: lighter;
    font-size: 14px;
    margin-top: -20px;
}

.mild-seperation{
    width: 85%;
    border: 1.25px solid rgb(63, 63, 63);
    border-radius: 10px;
    margin-top: -10px;
}