/* Paragraph Classes and stuff*/
.main-header {
    font-size: 18px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: fixed;
    margin-top: -75px;
    background-color: rgb(24, 24, 24);
    z-index: 50;
}

.content {
    margin-top: 75px
}

/* Div Classes */
.main-boxes {
    width: 60%;
    text-align: center;
    border: 5px solid rgb(95, 95, 95);
    margin: 0px auto;
    padding: 1%;
    border-radius: 10px;
    contain: layout;
}

.box-header {
    width: 98%;
    font-size: 22px;
    background-color: rgb(95, 95, 95);
    padding: 0.5%;
    margin: 0px auto;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.warning {
    text-align: center;
    width: 50%;
    background-color: rgb(241, 135, 135);
    border: 5px dashed rgb(223, 68, 68);
    border-radius: 10px;
    margin: auto;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom:20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.image-thingy {
    padding-left:2%;
    padding-right:2%;
    display:inline-block;
}

.image-thingy img {
    transition: transform 0.15s ease-in-out;
}

.image-thingy img:hover {
    transform: scale(1.025);
}

/* Other */
body {
    background-color: rgb(24, 24, 24)
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    line-height: 26px;
}

a:visited {
    color: rgb(131, 131, 131);
}

a:active {
    color: white;
}

a:link {
    color: rgb(173, 173, 173);
}

a:hover {
    color:white;
}

a.header {
    text-decoration: none;
    color: whitesmoke;
}

a.header:hover {
    text-decoration: underline;
}

.tab {
    padding-top: 5px;
    border-bottom: 2px solid rgb(155,155,155);
    margin-bottom: 10px;
}

.tab button{
    overflow: hidden;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
    color: whitesmoke;
    font-size: 18px;
}

.tab button:hover {
    border: 2px solid rgb(115, 115, 115);
    background-color: rgb(115, 115, 115);
    transition: 0.1s;
}

.tab button.active {
    border: 2px solid rgb(155,155,155);
    background-color: rgb(155,155,155);
}

.tabcontent {
    display: none;
}