/* Paragraph Classes and stuff*/
.main-header {
    font-size: 18px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: fixed;
    margin-top: -75px;
    background-color: rgb(24, 24, 24);
    z-index: 50;
}

.content {
    margin-top: 75px
}

/* Div Classes */
.main-boxes {
    width: 50%;
    text-align: center;
    border: 5px solid rgb(95, 95, 95);
    margin: 0px auto;
    padding: 1%;
    border-radius: 10px;
}

.box-header {
    width: 98%;
    font-size: 22px;
    background-color: rgb(95, 95, 95);
    padding: 0.5%;
    margin: 0px auto;
    color: black;
    border-radius: 10px;
}

.warning {
    text-align: center;
    width: 50%;
    background-color: rgb(241, 135, 135);
    border: 5px dashed rgb(223, 68, 68);
    border-radius: 10px;
    margin: auto;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom:20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

/* Other */
body {
    background-color: rgb(24, 24, 24)
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    line-height: 26px;
}

a:visited {
    color: rgb(131, 131, 131);
}

a:active {
    color: white;
}

a:link {
    color: rgb(173, 173, 173);
}

a:hover {
    color:white;
}

a.header {
    text-decoration: none;
    color: whitesmoke;
}

a.header:hover {
    text-decoration: underline;
}