.char-box-parent {
    float: right;
    text-align: right;
    width: 25%;
    padding-right: 2%;
    padding-top: 1%;
}

.character-box {
    width: 100%;
    text-align: left;
    border: 5px solid rgb(95, 95, 95);
    padding: 1%;
    border-radius: 10px;
    display: inline-block;
}

.char-box-header {
    text-align: center;
    width: 98%;
    font-size: 32px;
    background-color: rgb(95, 95, 95);
    padding: 0.5%;
    margin: 0px auto;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.char-box-content-left {
    text-align: center;
    border-right: 2px solid rgb(95, 95, 95);
    border-top: 2px solid rgb(95, 95, 95);
    padding-right: 2%;
    width: 47.54%;
    float: left;
}

.char-box-content-right {
    text-align: center;
    border-top: 2px solid rgb(95, 95, 95);
    padding-left: 2%;
    width: 48%;
    float: right
}

.char-box-content-center {
    text-align: center;
    border-top: 2px solid rgb(95, 95, 95);
    padding-left: 0;
    width: 100%;
    float: left;
}

.main-content {
    padding-left: 1%;
}