.char-box-parent {
    float: right;
    text-align: right;
    width: 25%;
    padding-right: 2%;
    padding-top: 1%;
    margin-left: 1%;
}

.character-box {
    width: 100%;
    text-align: left;
    border: 5px solid rgb(95, 95, 95);
    padding: 1%;
    border-radius: 10px;
    display: inline-block;
}

.char-box-header {
    text-align: center;
    width: 98%;
    font-size: 32px;
    background-color: rgb(95, 95, 95);
    padding: 0.5%;
    margin: 0px auto;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.char-box-content-left {
    text-align: center;
    padding-right: 2%;
    width: 47%;
    float: left;
}

.char-box-content-right {
    text-align: center;
    padding-left: 2%;
    width: 47%;
    float: right;
}

.char-box-content-center {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    float: left;
}

.main-content {
    padding-left: 1%;
    padding-right: 1%
}

.quote-box  {
    width: 33%;
    border-left: 10px solid rgb(95, 95, 95);
    font-style: italic;
    letter-spacing: 1px;
    padding-left: 0.75%;
    border-radius: 10px;
}

.lore-box  {
    border-left: 10px solid rgb(95, 95, 95);
    font-style: italic;
    letter-spacing: 1px;
    padding-left: 0.75%;
    border-radius: 10px;
}