/* Paragraph Classes and stuff*/
.main-header {
    font-size: 18px;
}

.wip-tag {
    text-align: center;
    font-size: 36px;
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
}

/* Div Classes */
.main-boxes {
    width: 50%;
    text-align: center;
    border: 5px solid rgb(95, 95, 95);
    margin: 0px auto;
    padding: 1%;
}

.box-header {
    width: 98%;
    font-size: 22px;
    background-color: rgb(95, 95, 95);
    padding: 0.5%;
    margin: 0px auto;
    color: black;
}

/* Other */
body {
    background-color: rgb(24, 24, 24)
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}